@{
    ViewBag.Title = "About Developers";
}

<h2>About</h2>
<p>
     Information System made by:
        <br />
        Sergio Daniel Lozano García
        <br />
        Cristian Medardo Quintero Navarro
        <br />
        Kautsky Duwalier Lozano Vargas
        <br />
     <p>
        This software has been built with ASP.NET MVC
        For getting more information about ASP.NET MVC please, visit <a href="http://asp.net/mvc" title="sitio web de ASP.NET MVC">http://asp.net/mvc</a>.
     </p>
</p>
