@{
    ViewBag.Title = "Lacteos del Tolima SI";
}

<h2>@ViewBag.Message</h2>
<div id="aside">
    <p>
        For beggining creating some stuff, click some of the options to manage, above.
        <br />
        <p>
            System of Information Powered By:
            <ul>
                <li>
                    ASP.NET MVC 3
                </li>
                <li>
                    ADO.NET Entity Framework : Code First
                </li>
                <li>
                    Microsoft SQL Server 2008 R2
                </li>
                <li>
                    HTML 5 | JQuery | Modernizr
                </li>
            </ul>
        </p>
    </p>
</div>
<div id="imgmvc">
    <!--<img src="../../Content/77-asp-net-mvc-3.gif" />-->
</div>

